@import "header.scss";
@import "vision.scss";

$break-small: 538px;
$break-large: 1200px;
$navbar-bleed: 30px;

.big-button {
  width: fit-content;
  font-family: "DIN";
  font-size: 28px;
  padding: 1px 20px;
  border-radius: 4px;
  background: $purple-color;
  position: relative;
  color: white;
  &:hover {
    background: $dark-purple-color;
    cursor: pointer;
  }
}

.contact-container {
  position: relative;
  width: 100%;
  padding-left: 50px;
  padding-right: 50px;
  padding-bottom: 36px;

    h1 {
      text-align: center;
      font-family: "SourceCode";
      font-size: 30px;
    }

    h2 {
      font-family: "DIN";
      font-size: 19px;
      text-align: justify;
      color: black;
    }


    h3 {
      font-family: "DIN";
      padding-bottom: 9px;
    }

    input {
      width: 100%;
      border: 1px solid #ebebeb;
      border-radius: 0px;
      &:hover {
        border-bottom: 3px solid $purple-color;
      }
    }

    textarea {
      width: 100%;
      border: 1px solid #ebebeb;
      border-radius: 0px;
      &:hover {
        border-bottom: 3px solid $purple-color;
      }
    }

    label {
      font-size: 17px;
      padding-bottom: 0px;
      margin: 0;
      color: #6d757d;
    }

    .big-button {
      font-family: DIN;
      position: absolute;
      bottom: 7px;
      right: 47px;
      font-size: 22px;
    }
}

.home {
  height: auto;
  width: 100%;
  min-height: 100%;
}

.clients {
  display: flex;
  .client-icon {
    width: 19vw;
    height: 19vw;
    margin: 1vw;
    background-repeat: no-repeat;
    background-size: 50%;
    background-position: center;
    border-radius: 16px;
    flex: 1;
  }
}