@import "../../node_modules/bootstrap/scss/bootstrap.scss";
@import "particles.scss";
@import "navbar.scss";

@font-face {
  font-family: "ConcertOne";
  src: url(../fonts/ConcertOne-Regular.ttf) format("truetype");
}

@font-face {
  font-family: "DamionRegular";
  src: url(../fonts/Damion-Regular.ttf) format("truetype");
}

@font-face {
  font-family: "NoricanRegular";
  src: url(../fonts/Norican-Regular.ttf) format("truetype");
}

body{
  background: white;
  overflow: hidden;
}

$navbar-bleed: 30px;


.header-content {
  color: white;
  top: 350px;
  position: absolute;
  left: $navbar-bleed;
  h1 {
    font-family: NoricanRegular;
    opacity: 0.85;
  }
  h2 {
    font-family: ConcertOne;
    opacity: 0.85;
  }
  .big-button {
    width: fit-content;
    font-family: "NoricanRegular";
    font-size: 28px;
    padding: 10px 20px;
    border-radius: 4px;
    background: #f1a614;
    top: 20px;
    position: relative;
    &:hover {
      background: #c98b10;
      cursor: pointer;
    }
  }
}