@import "../../node_modules/bootstrap/scss/bootstrap.scss";
@import "colours.scss";
@import "particles.scss";
@import "navbar.scss";
@import "home.scss";
@import "team.scss";
@import "projects.scss";

$break-small: 538px;
$break-large: 1200px;
$navbar-bleed: 30px;
:root {
  --neon-text-color: rgb(209, 6, 118);
  --neon-border-color: rgba(241, 167, 20, 0.9);
  --neon-border-color-alt: rgba(255, 255, 255, 0.6);
}

@font-face {
  font-family: "ConcertOne";
  src: url(../fonts/ConcertOne-Regular.ttf) format("truetype");
}

@font-face {
  font-family: "DamionRegular";
  src: url(../fonts/Damion-Regular.ttf) format("truetype");
}

@font-face {
  font-family: "NoricanRegular";
  src: url(../fonts/Norican-Regular.ttf) format("truetype");
}

@font-face {
  font-family: "Neon";
  src: url(../fonts/neon-soft.otf) format("opentype");
}

@font-face {
  font-family: "DIN";
  src: url(../fonts/DIN-Regular.otf) format("opentype");
}

@font-face {
  font-family: "SourceCode";
  src: url(../fonts/SourceCodePro-Regular.ttf) format("opentype");
}

body {
  background: white;
  overflow-x: hidden;
  overflow-y: auto;
}

.down-arrow {
  position: absolute;
  left: calc(50% - 15px);
  font-size: 50px;
  color: white;
  bottom: 0px;
  z-index: 9;
  transform: scale(1);
  animation: pulse 2s infinite;
  min-height: 30px;
  min-width: 30px;
  filter: drop-shadow(0px -2px 5px rgba(0, 0, 0, 1));

  @keyframes pulse {
    0% {
      transform: scale(0.95);
      filter: drop-shadow(0px -2px 5px rgba(0, 0, 0, 0.7));
    }
  
    70% {
      transform: scale(1);
      filter: drop-shadow(0px -2px 5px rgba(0, 0, 0, 0));
    }
  
    100% {
      transform: scale(0.95);
      filter: drop-shadow(0px -2px 5px rgba(0, 0, 0, 0));
    }
  }

}

.sliding {
  position: fixed;
  background: $purple-color;
  width: 100%;
  height: 100%;
  z-index: 12;
  top: 0px;
  left: 0px;
  transition: left 1s ease;
}

.services {
  background: #262626;

  .header {
    background: #262626;

    position: relative;
    width: 100%;
    height: 100%;
    background-image: url(/assets/services-background.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;

    .printer {
      background-image: url(/assets/3dprinter.svg);
      background-size: cover;
      background-position: center;
      width: 100%;
      height: 100%;
    }
  }
  .content {
    width: fit-content;
    margin: 0 auto;

    color: white;
    font-family: 'SourceCode';
    font-size: 21px;
    padding: 50px;
    text-align: justify;

    h1 {
      font-size: 25px;
      color: #fc52a5;
      
    }
  }
}

.workshops {
  .content {
    padding: 100px 50px;
    background: #262626;
    color: white;
    font-family: "DIN";
    text-align: center;

    h4 {
      text-align: justify;
    }
  }
  &:before {
    content: "";
    width: 100%;
    height: 100px;
    background: #262626;
    position: absolute;
    z-index: 5;
  }

  // background: black;
  // background: linear-gradient(-179deg, #3B2744 3%, #8E4E8B 62%, #B27F95 81%, #E3A3B7 100%);
  background-image: url(/assets/workshop-background.png);
  background-size: cover;
  background-repeat: no-repeat;
  .outer-container {
    height: 100%;
    width: 100%;
    position: absolute;
  }
  #backdrop-container {
    overflow: hidden;
    svg {
      transform: scale(1.2);
      #sky {
        fill: none;
      }
    }
  }
  .ocean-filler {
    position: absolute;
    top: 347.899px;
    width: 100%;
    // height: fill-available;
    height: 250px;
    background-image: linear-gradient(
      -180deg
      , #fbffca 0%, #c382fa 30%, #2350ff 50%);
  }
  .header-text {
    // top: 50%;
    // left: 50%;
    color: white;
    z-index: 2;
    position: absolute;
    font-family: 'Neon';
    width: 100%;
    text-align: center;
    h1 {
      font-size: 50px;
    }
  }

  .window-divider{
    position: absolute;
    width: 30px;
    background: rgb(38,38,38);
    height: 100%;
    top: 0px;
    z-index: 1;

    &.left {
      left: calc(25% - 1.5px);
      transform: rotateZ(5deg);
    }

    &.right {
      left: calc(75% - 1.5px);
      transform: rotateZ(-5deg);
    }
  }

  .workshop-filler {
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 100%;
    background: rgb(38,38,38);
  }
}

#workshop-container {
  position: relative;
  bottom: 0px;
  z-index: 2;
}

.footer {
  background: #262626;
  text-align: center;
  padding: 0px;
  position: relative;
  svg {
    width: 50%;
    max-width: 200px;
  }
}