@import "../../node_modules/bootstrap/scss/bootstrap.scss";
@import "colours.scss";
@import "particles.scss";
@import "navbar.scss";
@import "home.scss";
@import "team.scss";
@import "projects.scss";

$break-small: 538px;
$break-large: 1200px;
$navbar-bleed: 30px;
:root {
  --neon-text-color: rgb(209, 6, 118);
  --neon-border-color: rgba(241, 167, 20, 0.9);
  --neon-border-color-alt: rgba(255, 255, 255, 0.6);
}

@font-face {
  font-family: "ConcertOne";
  src: url(../fonts/ConcertOne-Regular.ttf) format("truetype");
}

@font-face {
  font-family: "DamionRegular";
  src: url(../fonts/Damion-Regular.ttf) format("truetype");
}

@font-face {
  font-family: "NoricanRegular";
  src: url(../fonts/Norican-Regular.ttf) format("truetype");
}

@font-face {
  font-family: "Neon";
  src: url(../fonts/neon-soft.otf) format("opentype");
}

body {
  background: white;
  overflow-x: hidden;
  overflow-y: auto;
}

.sliding {
  position: fixed;
  background: #270000;
  width: 100%;
  height: 100%;
  z-index: 11;
  top: 0px;
  left: 0px;
  transition: left 1s ease;
}
