$navbar-bleed: 30px;
$navbar-height: 100px;
$break-small: 538px;
$break-large: 1200px;


$title-size: 6vw;
// @media screen and (max-width: $break-small) {}
// @media screen and (min-width: $break-large) {}

.navbar {
    padding: 0px;
    position: fixed;
    width: 100%;
    height: $navbar-height;
    z-index: 10;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.17);
    width:  100%;
    left: 0px;
    top: 0px;
    user-select:none;
    backdrop-filter: blur(10px);
    transition: height 300ms ease;
    background-color: rgba($purple-color,0.8);
    &.hidden {
      height: 0px;
      // transition: height 300ms ease;
      overflow: hidden;
    }

    &.opaque {
      // background-color: rgba($brown-color, 0.9);
    }
    .nav-sub {
      position: absolute;
      padding: 0px;
      // background-color: $brown-color;
      background-color: $purple-color;
      left: 0px;
      width: 100%;
      z-index: -1;
      // padding-top: $navbar-height;
      top:0px;
      font-size: 25px;
      display: block;
      height: auto;
      max-height: 450px;
      transition: max-height 0.3s ease-in-out;
      overflow: hidden;

      .navitem {
          border-bottom: 1px solid #ffffff4d;
          padding: 8px 0px;
          // color: #f1a614;
          // color: rgb(77, 77, 77);
          color: white;
          font-family: Neon;
          &:last-of-type {border: none}
          &:hover {
              color: white;
              cursor: pointer;
          }
          span {
            position: relative;
            left: 10px;
          }
      }
      .spacer {
        padding-top: $navbar-height;
      }
    }
  
    .nav-left {
      display: inline-block;
      font-family: Neon;
      font-size:$title-size;
      cursor: pointer;
      width: auto;

      .navbar-logo {
        background-image: url(/assets/navbar-icon.png);
        background-size: contain;
        filter: invert(1);
        background-position: center;
        background-repeat: no-repeat;
        height: 100%;
        width: 12vw;
        display: inline-block;
        filter: invert(1);

        @media screen and (min-width: $break-small) {
          width: 100px;
          font-size: 13px;
        }

      }

      .logo-text {
        display: inline-block;
        position: absolute;
        top: calc(50% - #{$title-size}/2);

        @media screen and (min-width: $break-small) {
          font-size: 30px;
          top: calc(50% - 15px);
        }

      }
      // color: #bf891b;
      // color: rgb(77, 77, 77);
      // color: #a7a7a7;
      color: white;
      margin-left: 1rem;
      * {
        display: inline;
      }
    }
  
    .nav-right {
      display: inline-block;
      // color: rgb(77, 77, 77);
      // color: #a7a7a7;
      color: white;
      width: auto;
      font-size: $title-size;
      font-family: Neon;
      margin-right: 1rem;
      .navitem {
        display: inline;
        &:hover {
          color: white;
          cursor: pointer;
        }
        &::after {
          content: " | ";
        }
        &:hover::after {
          color: white;
        }
  
        display: none;
        &:last-of-type {
          &:after {
            content: "";
          }
        }
      }
  
      .navcollapse {
          // color: #f1a614;
          // color: rgb(77, 77, 77);
          // color: #a7a7a7;
          color: white;
          font-size: $title-size;
          @media screen and (min-width: $break-small) {
            font-size: 30px;
          }
          &:hover {
              cursor: pointer;
              color: white;
          }
      }
    }
  }
  