/* ---- reset ---- */
body {
  margin: 0;
  font: normal 75% Arial, Helvetica, sans-serif;
}
canvas {
  display: block;
  vertical-align: bottom;
  width: 100%;
  height: 100%;
} /* ---- particles.js container ---- */


#particles-js {
  position: absolute;
  width: 100%;
  // height: 420px;
  height: 240%;
  background: none;
  z-index: 100;
  pointer-events: none;
  // background-image: linear-gradient(-180deg, #f6d8b3 0%, #A063EB 30%, #362B93 100%);
  // background-repeat: no-repeat;
  // background-size: cover;
  // background-position: 50% 50%;
  // box-shadow: inset 0px 0px 254px -2px rgba(62, 103, 128, 0.75);
} 