/* ---- reset ---- */
body {
  margin: 0;
  font: normal 75% Arial, Helvetica, sans-serif;
}
canvas {
  display: block;
  vertical-align: bottom;
} /* ---- particles.js container ---- */

#particles-js {
  position: absolute;
  width: 100%;
  height: 350px;
  background-color: #3b3b61;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
} 