$break-small: 538px;
$break-large: 1200px;
$navbar-bleed: 30px;

.projects {
    background: black;
  
    .crosshairs {
      overflow: hidden;
      background: #310808;
      margin: 0 auto;
      // box-shadow: 0 0.5rem rgba(36, 36, 36, 0.6),
      // inset 0 0 0.5rem rgba(0, 0, 0, 0.6), 0 0 2rem rgba(0, 0, 0, 0.9),
      // inset 0 0 2rem rgba(0, 0, 0, 0.9), 0 0 4rem rgba(0, 0, 0, 0.9),
      // inset 0 0 4rem rgba(0, 0, 0, 0.9);
      box-shadow: inset 0px 0px 254px -2px rgba(0,0,0,0.75);
  
      .header {
        color: #ffe6b4;
        position: absolute;
        bottom: 30px;
        font-family: "Neon";
        padding-left: 30px;
        padding-bottom: 10px;
        width: 100%;
  
        
        @media screen and (max-width: $break-small) {
          padding-left: 0px;
          bottom: 00px;
        }
  
        h1 {
          font-size: 40px;
          text-align: center;
          width: fit-content;
          text-shadow:
          .1vw 0vw .25vw #ffd8d8, .2vw 0vw .25vw #ffe3aa, .4vw 0vw .25vw #ffe3aa, 
          .1vw 0vw   0vw  #f1a614, .2vw 0vw   0vw  #f1a614, .4vw 0vw   0vw  #f1a614,
          .1vw 0vw  .1vw  #f1a614, .2vw 0vw  .1vw  #f1a614, .4vw 0vw  .1vw  #f1a614,
          .1vw 0vw   2vw  #f1a614, .2vw 0vw   2vw  #f1a614, .4vw 0vw   2vw  #f1a614, 
          .1vw 0vw   1vw  #ad790f, .2vw 0vw   1vw #ad790f, .4vw 0vw   5vw #ad790f, 
          .1vw 0vw   5vw #ad790f, .2vw 0vw  20vw #ad790f, .4vw 0vw  10vw #ad790f,
          .1vw 0vw  10vw #ad790f, .2vw 0vw  30vw #ad790f, .4vw 0vw  10vw #ad790f;
  
          box-shadow:
          0 0 0.1vw  0.4vw #ffe3aa,   
          0 0 0.4vw  0.6vw  #f1a614, 
          0 0   4vw  0.4vw #ad790f,
          inset 0 0 1.5vw  0.4vw #ad790f,
          inset 0 0 0.4vw  0.2vw  #f1a614,
          inset 0 0 0.5vw  0.2vw #ffe3aa;
          border-radius: 1.5rem;
          padding: 40px 9px;
  
          @media screen and (max-width: $break-small) {
            padding: 30px 30px;
            margin: 0 auto;
            font-size: 25px;
          }
        }
  
        h2 {
          font-family: "ConcertOne";
          font-size: 20px;
        }
      }
      .circle {
        position: absolute;
        height: max-content;
        width: max-content;
        top: 0px;
        text-align: center;
        z-index: 5;
        animation: spin 20s linear infinite;
        filter: url(#glow);
        // filter: url(#filter-2);
        transform-origin: center center;
        pointer-events: none;
  
        .inner-circle {
          display: none;
        }
  
        svg {
          overflow: visible;
          // background: red;
        }
  
        .page {
          // transform-origin: center center;
        }
      }
    }
    .crosshairs,
    .gallery {
      min-height: 500px;
  
      position: relative;
      width: 100%;
      overflow: hidden;
      .crosshair {
        // background: #57d959;
        box-shadow: 0 0 0.5rem var(--neon-border-color-alt),
          inset 0 0 0.5rem var(--neon-border-color-alt),
          0 0 2rem var(--neon-border-color),
          inset 0 0 2rem var(--neon-border-color),
          0 0 4rem var(--neon-border-color),
          inset 0 0 4rem var(--neon-border-color);
        
        position: absolute;
  
        &.vertical {
          width: 1.5px;
          top: 0px;
          left: 50%;
          height: 100%;
        }
  
        &.horizontal {
          width: 100%;
          top: 50%;
          left: 0px;
          height: 1.5px;
        }
      }
      .small-dash {
        position: absolute;
        background: rgb(246,213,152);
        box-shadow: 0 0 0.5rem var(--neon-border-color-alt),
          inset 0 0 0.5rem var(--neon-border-color-alt),
          0 0 2rem var(--neon-border-color),
          inset 0 0 2rem var(--neon-border-color),
          0 0 4rem var(--neon-border-color),
          inset 0 0 4rem var(--neon-border-color);
  
        &.vertical {
          width: 0.5px;
          height: 12px;
        }
        &.horizontal {
          width: 12px;
          height: 0.5px;
        }
      }
      .big-dash {
        position: absolute;
        background: rgb(246,213,152);
        box-shadow: 0 0 0.5rem var(--neon-border-color-alt),
          inset 0 0 0.5rem var(--neon-border-color-alt),
          0 0 2rem var(--neon-border-color),
          inset 0 0 2rem var(--neon-border-color),
          0 0 4rem var(--neon-border-color),
          inset 0 0 4rem var(--neon-border-color);
        &.vertical {
          width: 1.5px;
          height: 30px;
          &.thin {
            height: 100%;
            top: 0px !important;
            opacity: 0.2;
          }
        }
        &.horizontal {
          width: 30px;
          height: 1.5px;
          &.thin {
            width: 100%;
            left: 0px !important;
            opacity: 0.2;
          }
        }
      }
    }
  
    .gallery {
      // background: #4f4f4f;
      background: #310808;
  
      .big-dash {
        background: rgb(46, 46, 46);
      }
    }
  
  }
  