@import "colours.scss";

$break-small: 538px;
$break-large: 1200px;
$navbar-bleed: 30px;

.projects {
  background: black;

  .crosshairs {
    overflow: hidden;
    background: #310808;
    margin: 0 auto;
    // box-shadow: 0 0.5rem rgba(36, 36, 36, 0.6),
    // inset 0 0 0.5rem rgba(0, 0, 0, 0.6), 0 0 2rem rgba(0, 0, 0, 0.9),
    // inset 0 0 2rem rgba(0, 0, 0, 0.9), 0 0 4rem rgba(0, 0, 0, 0.9),
    // inset 0 0 4rem rgba(0, 0, 0, 0.9);
    box-shadow: inset 0px 0px 254px -2px rgba(0, 0, 0, 0.75);

    .header {
      color: $orange-color;
      position: absolute;
      top: calc(50% - 8vw);
      font-family: "Neon";
      width: 100%;
      text-shadow: 0 0 3px $orange-color;

      @media screen and (min-width: $break-small) {
        top: calc(50% - 62px);
      }

      h1 {
        font-size: 7vw;
        text-align: center;
        width: 100%;
        // text-shadow:
        // .1vw 0vw .25vw #ffd8d8, .2vw 0vw .25vw #ffe3aa, .4vw 0vw .25vw #ffe3aa,
        // .1vw 0vw   0vw  #f1a614, .2vw 0vw   0vw  #f1a614, .4vw 0vw   0vw  #f1a614,
        // .1vw 0vw  .1vw  #f1a614, .2vw 0vw  .1vw  #f1a614, .4vw 0vw  .1vw  #f1a614,
        // .1vw 0vw   2vw  #f1a614, .2vw 0vw   2vw  #f1a614, .4vw 0vw   2vw  #f1a614,
        // .1vw 0vw   1vw  #ad790f, .2vw 0vw   1vw #ad790f, .4vw 0vw   5vw #ad790f,
        // .1vw 0vw   5vw #ad790f, .2vw 0vw  20vw #ad790f, .4vw 0vw  10vw #ad790f,
        // .1vw 0vw  10vw #ad790f, .2vw 0vw  30vw #ad790f, .4vw 0vw  10vw #ad790f;

        // box-shadow:
        // 0 0 0.1vw  0.4vw #ffe3aa,
        // 0 0 0.4vw  0.6vw  #f1a614,
        // 0 0   4vw  0.4vw #ad790f,
        // inset 0 0 1.5vw  0.4vw #ad790f,
        // inset 0 0 0.4vw  0.2vw  #f1a614,
        // inset 0 0 0.5vw  0.2vw #ffe3aa;
        // border-radius: 1.5rem;

        @media screen and (min-width: $break-small) {
          // margin: 0 auto;
          font-size: 52px;
        }
      }

      h2 {
        font-family: "ConcertOne";
        font-size: 20px;
      }
    }
    .circle {
      position: absolute;
      height: max-content;
      width: max-content;
      top: 0px;
      text-align: center;
      z-index: 5;
      animation: spin 20s linear infinite;
      filter: url(#glow);
      // filter: url(#filter-2);
      transform-origin: center center;
      pointer-events: none;

      .circle-group {
        stroke: $orange-color;
        stroke-width: 6px;
      }
      .inner-circle {
        display: none;
      }

      svg {
        overflow: visible;
        // background: red;
      }

      .page {
        // transform-origin: center center;
      }
    }
  }
  .crosshairs,
  .gallery {
    min-height: 500px;

    position: relative;
    width: 100%;
    overflow-x: hidden;
    .crosshair {
      // background: #57d959;
      box-shadow: 0 0 0.5rem var(--neon-border-color-alt),
        inset 0 0 0.5rem var(--neon-border-color-alt),
        0 0 2rem var(--neon-border-color),
        inset 0 0 2rem var(--neon-border-color),
        0 0 4rem var(--neon-border-color),
        inset 0 0 4rem var(--neon-border-color);
      opacity: 0.4;

      position: absolute;

      &.vertical {
        width: 1.5px;
        top: 0px;
        left: 50%;
        height: 100%;
      }

      &.horizontal {
        width: 100%;
        top: 50%;
        left: 0px;
        height: 1.5px;
      }
    }
    .small-dash {
      position: absolute;
      background: rgb(246, 213, 152);
      opacity: 0.4;

      box-shadow: 0 0 0.5rem var(--neon-border-color-alt),
        inset 0 0 0.5rem var(--neon-border-color-alt),
        0 0 2rem var(--neon-border-color),
        inset 0 0 2rem var(--neon-border-color),
        0 0 4rem var(--neon-border-color),
        inset 0 0 4rem var(--neon-border-color);

      &.vertical {
        width: 0.5px;
        height: 12px;
      }
      &.horizontal {
        width: 12px;
        height: 0.5px;
      }
    }
    .big-dash {
      position: absolute;
      background: rgb(246, 213, 152);
      opacity: 0.4;
      box-shadow: 0 0 0.5rem var(--neon-border-color-alt),
        inset 0 0 0.5rem var(--neon-border-color-alt),
        0 0 2rem var(--neon-border-color),
        inset 0 0 2rem var(--neon-border-color),
        0 0 4rem var(--neon-border-color),
        inset 0 0 4rem var(--neon-border-color);
      &.vertical {
        width: 1.5px;
        height: 30px;
        &.thin {
          height: 100%;
          top: 0px !important;
          opacity: 0.2;
        }
      }
      &.horizontal {
        width: 30px;
        height: 1.5px;
        &.thin {
          width: 100%;
          left: 0px !important;
          opacity: 0.2;
        }
      }
    }
  }

  .gallery {
    background: #310808;
    height: auto;
    .big-dash {
      background: rgb(46, 46, 46);
    }

    .project {
      display: inline-block;
      border: 1px solid $brown-color;
      text-align: center;
      width: calc(100%/3);
      height: calc(100%/3);
      background: $brown-color;
      box-shadow: inset 0px 0px 254px -2px rgba(0, 0, 0, 0.75);
      color: rgba($orange-color, 0.5);
      cursor: pointer;
      @media screen and (max-width: $break-small) {
        // margin: 0 auto;
        width: calc(100%);
        height: calc(50%);
      }


      @mixin project-glow() {
        z-index: 1;
        position: relative;

        box-shadow: 0 0 0.1rem var(--neon-border-color-alt),
        inset 0 0 0.1rem var(--neon-border-color-alt),
        0 0 1rem var(--neon-border-color),
        inset 0 0 0.5rem var(--neon-border-color),
        0 0 1rem var(--neon-border-color),
        inset 0 0 1rem var(--neon-border-color);
        
        color: rgba($orange-color, 1);
        text-shadow: 0 0 3px $orange-color;

        svg {
          filter:drop-shadow(0px 0px 3px $orange-color);
          path {
            stroke: $orange-color;
          }
        }
      }

      &.expanded {
        transition: 1s;
        @include project-glow();
        position: fixed !important;
        cursor: unset;
        z-index: 2;
        .close-icon {
          display: block;
          cursor: pointer;
          position: absolute;
          top: 15;
          right: 15;
          font-size: 50;
        }
      }

      @media screen and (min-width: $break-small) {
        &:hover {
          @include project-glow();
        }
      }

      @media screen and (max-width: $break-small) {
        &.glow {
          @include project-glow();
        }
      }

      h1 {
        font-family: Neon;
        font-size: 2vw;
        top: 2vw;
        position: relative;
        @media screen and (max-width: $break-small) {
          font-size: 6vw;
          top: 6vw;
        }

      }

      svg {
        font-size: 7vw;
        top: 11px;
        position: relative;

        @media screen and (max-width: $break-small) {
          font-size: 20vw;
          top: 3vw;
        }

        path {
          stroke: rgba($orange-color, 0.5);
          stroke-width: 10;
          fill: none;
          // box-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #0073e6, 0 0 20px #0073e6, 0 0 25px #0073e6, 0 0 30px #0073e6, 0 0 35px #0073e6;
        }
      }

      .close-icon {
        display: none;
        font-size: 20;
      }
    }
  }
}
