.vision-container {
  text-align: center;
  background-color: white;
  color: black;
  padding-bottom: 60px;
  .offerings {
    span {
      display: inline-block;
      cursor: pointer;
      &:hover {
        transform: scale(1.5);
        border: 3px solid white;
        color: $purple-color;
      }
      transition: all 0.5s;

      // background: rgb(98, 229, 246);
      width: 16vw;
      height: 16vw;
      margin: 2vw;
      color: #8332fc;
      border-radius: 1000px;
      position: relative;
      font-family: DIN;
      i, svg {
        position: absolute;
        top: calc(50% - 30px);
        left: 0px;
        width: 100%;
        text-align: center;
        font-size: 25px;
      }
      div {
        position: absolute;
        top: calc(50% + 2px);
        width: 100%;
        text-align: center;

        @media screen and (min-width: $break-small) {
          font-size: 14px;
        }

        font-size: 3vw;

      }
    }
  }
  .spacer {
    width: 100%;
    height: 150px;
  }

  .ml14 {
    font-family: SourceCode;
    font-weight: 200;
    font-size: 6vw;
    padding-bottom: 50px;
  }

  .ml14 .text-wrapper {
    position: relative;
    display: inline-block;
    padding-top: 0.1em;
    padding-right: 0.05em;
    padding-bottom: 0.15em;
  }

  .ml14 .line {
    opacity: 0;
    position: absolute;
    left: 0;
    height: 2px;
    width: 100%;
    background-color: black;
    transform-origin: 100% 100%;
    bottom: 0;
  }

  .ml14 .letter {
    display: inline-block;
    line-height: 1em;
  }

  // h1 {
  //   font-family: ConcertOne;
  //   font-size: 47px;
  // }

  h2 {
    // font-family: ConcertOne;
    font-size: 19px;
  }
}
